.banner{
    width: 100%;
    height: 347px;
    background-image: url('/public/img/frogg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 68px;
}